 body {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Roboto;
 }
 
 .warn {
     text-align: center;
     margin-top: 10%;
 }
 
 .top {
     border-bottom: 1px solid #cccccc;
 }
 
 .top-item {
     position: relative;
     align-items: center;
     height: 50px;
     padding-top: 5px;
     padding-bottom: 5px;
 }
 
 .secure {
     display: flex;
     align-items: center;
 }
 
 .secureline {
     vertical-align: sub;
 }
 
 .bottom {
     display: flex;
     justify-content: space-between;
     position: fixed;
     bottom: 0;
     width: 100%;
     font-size: 12px;
 }
 
 .link a {
     display: inline-block;
     padding-right: 30px;
     text-decoration: none;
     color: black;
     line-height: 10px;
 }
 
 .link {
     padding-bottom: 10px;
 }
 
 .link img {
     vertical-align: middle;
 }
 
 .warning {
     width: 80px;
     height: 80px;
     object-fit: contain;
 }
 
 .bitmap {
     width: 50px;
     height: 34px;
     margin: 0 0 0 20px;
     object-fit: contain;
 }
 
 .login-warn {
     margin: 30px 50px;
     font-size: 32px;
     font-weight: bold;
     letter-spacing: 0.64px;
     color: #333333;
 }
 
 .login-warn-text {
     font-size: 20px;
     line-height: 1.6;
     letter-spacing: 0.4px;
     color: #696969;
 }
 
 .login-warn-text span {
     font-weight: bold;
 }
 
 .bottom div {
     margin-left: 20px;
     margin-right: 20px;
 }
 
 .copyright {
     padding-top: 10px;
 }
 
 .secure span {
     padding-left: 10px;
     font-size: 12px;
     color: #333333;
 }
 
 picture,
 .logo {
     max-height: 31px;
 }
 
 @media screen and (min-width:860px) {
     .warn {
         width: 50%;
         margin-left: auto;
         margin-right: auto;
     }
     .top-item {
         display: flex;
         margin: 0 20px;
         justify-content: space-between;
     }
     .secure span {
         height: 100%;
     }
     .bottom {
         margin: 0 px;
     }
 }
 
 @media screen and (max-width:859px) {
     .warn {
         width: 80%;
         margin-left: auto;
         margin-right: auto;
     }
     .top-item {
         display: flex;
         margin: 0 20px;
         height: 50px;
         justify-content: space-between;
     }
     .secure span {
         line-height: 100%;
         height: 100%;
     }
     .bottom {
         margin: 0 px;
     }
     .error-page {
         overflow: hidden;
     }
     .copyright {
         width: 30%;
     }
     .link a {
         padding-right: 5px;
     }
     .bitmap {
         margin: 0 0 0 10px;
     }
 }
 
 @media screen and (max-width: 420px) {
     .error-page {
         overflow-y: hidden !important;
     }
     .warn {
         width: 90%;
         margin-left: auto;
         margin-right: auto;
         padding-top: 20%;
     }
     .top {
         height: 65px;
         background-color: #0c7f00;
         text-align: center;
     }
     .logo {
         display: block;
         margin-left: auto;
         margin-right: auto;
         margin-top: 10px;
     }
     .secure,
     .bottom {
         display: none
     }
     .login-warn {
         font-size: 15px;
         margin: 30px 0px;
         color: #333333;
     }
     .login-warn-text {
         font-size: 11px;
     }
 }